.app-container{
  display: flex;
}

.app-item{
  width: 100%;
}
.custom-slider{
  min-width: 15%;
  height: 100vh;
  max-height: none;
  position: sticky;
  top: 0;
}

.custom-header {
  position: sticky;
  top: 0;
  z-index: 1;
}
.card-width{
  min-width: 18%;
  margin: 1%;
  max-width: 50%;
}

.cards-css{

}

form{
 margin-top: 1%; 
}

button a{
  text-decoration: none;
  color: white;
}
button a:hover{
  color: black;
}

.hashtag {
  margin: 0px 3px;
}

.post-form{
  margin: 2%;
}